@using (Html.BeginForm("TimKiem", "SanPham"))
{
    <div class="input-group" style="width: 300px; margin: 0 auto;">
        <input class="form-control" type="search" name="tenVC" placeholder="Tìm kiếm sản phẩm..." aria-label="Search">
        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
}
