
@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageNotFound</title>

    <style>
        body {
            background-size: cover;
            padding: 0;
            margin: 0;
            background-image: url(https://identitydesigned.com/wp-content/uploads/2019/04/23_Petbarn_Case_Study.gif)
        }
    </style>
</head>
<body>
    <div>
        <center>
            <h1 style="font-size:200px; color:#ffffff">404</h1>
            <h1 style="color: #ffffff">TRANG BỊ LỖI! VUI LÒNG QUAY LẠI!</h1>
            <h1 style="color:red;"> <a href="@Url.Action("index", "Home")">Trang Chủ</a></h1>
        </center>
    </div>
</body>
</html>
