<a href="@Url.Action("GioHang","Cart",new { strURL = Request.Url })" id="Cart" style="margin-right:30px; color:black;">
    <img src="~/Images/KhachHang/img/icon/shop_.svg" width="23" height="23" alt="">
    @ViewBag.TongSoLuong
</a>
